HINDSIGHT_API_KEY=apikey
HINDSIGHT_API_URL=https://api.hindsight.vectorize.io
HINDSIGHT_BANK_ID=cyberguard
CYBERGUARD_MEMORY_RECORDS=cyberguard_historical_memory_records.json
CYBERGUARD_INPUT=cyberguard_retriever_input_100.json
CYBERGUARD_OUTPUT=cyberguard_retrieved_context_output.json